<footer>
  <div class="left">
    <img class="logo" src="../../../assets/img/logo.png" alt="MoviesCenter logo">
    <div class="copyright-container">
      <p class="copyright">
        Copyrightss
        <a href="https://github.com/GDDario">
          ©GDDario
        </a>
        <br>
      </p>
      <p>All rights reserved</p>
    </div>
  </div>
  <div class="right">
    <p class="info">This is a portfolio project, no commercial use pretended.</p>
    <p class="info-link">More information in <a href="/about">About page</a>.</p>
  </div>
</footer>
